body {
  padding: 5px;
}
.columns {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

.columns > * {
  margin: 0 10px;
  height: 100%;
  width: 100%;
  row-gap: 10px;
  border: 1px solid #f00;
}

.columns > *:nth-child(1) {
  grid-column: 1
}

.columns > *:nth-child(2) {
  flex-basis: 2;
}

.columns > *:nth-child(3) {
  grid-column: 3
}

#chat-messages {
  border: 1px solid black; 
  min-height: 50px;
  border-radius: 5px;

}
#chat-input-container {
  padding: 5px;
}
#chat-input {
  width: calc(100% - 60px);
}
#tabs-container {
  height: 100%;
}
#header-row {
  height: 60px;
}
#content-row {
  min-height: calc(100vh - 100px);
}